*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Questrial', sans-serif;
}
.gradient-background {
    background: linear-gradient(145deg,#007bff,#b2d7fe,#6dfa72);
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.container{
    /* background-color: aqua; */
    height: 100%;
    /* padding: 0.5rem; */
    display: flex;
    flex-direction: column;
}
.nav-container{
    /* background-color: blue; */
    /* background-color: rgba(233, 233, 233, 0.5); */
    height: 15%;
    width:100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 1rem;
}
.nav-right-div{
    /* background-color: yellow; */
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}


.nav-right-div>a{
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    margin-right: 7px;
    transition: color ease-in-out 0.5s;
}
.link-decor:hover{
    font-weight: bold;
    color: rgb(71, 181, 255);
}

/* body */
.body-container{
    /* background-color: yellow; */
    /* background-color: rgba(233, 233, 233, 0.5); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;

}
.body-text{
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    height: 100%;
    padding: 5rem;
    
}
.heading{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.short-bio{
    font-size: 1rem;
}
.body-image{
    /* background-color: brown; */
    width: 350px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px black;
    margin-right: 1rem;
    margin-left: 1rem;
}
.body-image>img{
    width: 100%;
    height: 100%;
    
}

@media (min-width:319px) and (max-width:480px){
    .nav-container{
        /* background-color: blue; */
        /* background-color: rgba(233, 233, 233, 0.5); */
        height: 100%;
        width:100%;
        display: flex;
        justify-content:flex-end;
        align-items:center;
        padding: 0;
    }
    .nav-right-div{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .nav-right-div>a{
        text-decoration: none;
        color: black;
        font-size: 1rem;
        margin:1rem;
        transition: color ease-in-out 0.5s;
    }
    .link-decor:hover{
        font-weight: bold;
        color: rgb(71, 181, 255);
    }
    /* body */
    .body-container{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .body-text{
        /* background-color: purple; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 1rem;
        
        
    }
    .heading{
        font-size: 2rem;
        margin: 1rem;
    }
   
    .body-image{
        /* background-color: brown; */
        width: 30%;
        height: 30%;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 1px 1px 5px black;
        margin: 1rem;
        
    }
    .body-image>img{
        width: 100%;
        height: 100%;
        
    }
    
}

@media (min-width:481px) and (max-width:1200px){
    .nav-container{
        /* background-color: blue; */
        /* background-color: rgba(233, 233, 233, 0.5); */
        height: 100%;
        width:100%;
        display: flex;
        justify-content:flex-end;
        align-items:center;
        padding: 0;
    }
    .nav-right-div{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .nav-right-div>a{
        text-decoration: none;
        color: black;
        font-size: 1rem;
        margin:1rem;
        transition: color ease-in-out 0.5s;
    }
    .link-decor:hover{
        font-weight: bold;
        color: rgb(71, 181, 255);
    }
    /* body */
    .body-container{
        /* background-color: yellow; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .body-text{
        /* background-color: purple; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 2.5rem;
        
        
    }
    .heading{
        font-size: 2rem;
        margin: 1rem;
    }
    .short-bio{
        font-size: 1.2rem;
    }
    .body-image{
        /* background-color: brown; */
        width: 30%;
        height: 30%;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 1px 1px 5px black;
        margin: 1rem;
        
    }
    .body-image>img{
        width: 100%;
        height: 100%;
        
    }
}

@media (min-width:1201px) and (max-width:1600px){
.nav-container{
    /* background-color: blue; */
    /* background-color: rgba(233, 233, 233, 0.5); */
    height: 15%;
    width:100%;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    padding: 1rem;
}
.nav-right-div{
    /* background-color: yellow; */
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.nav-right-div>a{
    /* background-color: aqua; */
    /* text-decoration: none; */
    color: black;
    font-size: 1rem;
    margin-right: 7px;
    transition: color ease-in-out 0.5s;
}
.link-decor:hover{
    font-weight: bold;
    color: rgb(71, 181, 255);
}

/* body */
.body-container{
    /* background-color: yellow; */
    /* background-color: rgba(233, 233, 233, 0.5); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}
.body-text{
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    height: 100vh;
    padding: 1rem;
    
}
.heading{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.short-bio{
    font-size:1rem;
}
.body-image{
    /* background-color: brown; */
    width: 10rem;
    height: 13rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 5px black;
    margin-right: 1rem;
    margin-left: 1rem;
}
.body-image>img{
    width: 100%;
    height: 100%;
    
}
}

@media (min-width:1601px){
    .nav-container{
        /* background-color: blue; */
        /* background-color: rgba(233, 233, 233, 0.5); */
        height: 15%;
        width:100%;
        display: flex;
        justify-content:flex-end;
        align-items:center;
        padding: 1rem;
    }
    .nav-right-div{
        /* background-color: yellow; */
        display: flex;
        width: 50%;
        justify-content: space-evenly;
    }
    .nav-right-div>a{
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        margin-right: 7px;
        transition: color ease-in-out 0.5s;
    }
    .link-decor:hover{
        font-weight: bold;
        color: rgb(71, 181, 255);
    }
    
    /* body */
    .body-container{
        /* background-color: yellow; */
        /* background-color: rgba(233, 233, 233, 0.5); */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
    }
    .body-text{
        /* background-color: purple; */
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        width: 70%;
        height: 100vh;
        padding: 3.1rem;
        
    }
    .heading{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    .short-bio{
        font-size: 1.2rem;
    }
    .body-image{
        /* background-color: brown; */
        width: 15rem;
        height: 18rem;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 1px 1px 5px black;
        margin-right: 1rem;
        margin-left: 1rem;
    }
    .body-image>img{
        width: 100%;
        height: 100%;
        
    }
}